/* ---------- Global ---------- */

body {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

/* ---------- Hero ---------- */

.hero {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 450px;

    padding: 0 100px;
    background: #1F2937;
}

.navbar {
    display: flex;
    justify-content: space-between;

    margin-bottom: 48px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    color: #F9FAF8;
    text-decoration: none;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hero-text {
    flex: 1;
}

.about img {
    flex: 1;
    display: block;
    width: 300px;
    height: auto;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.about button {
    background: #3882F6;
    border: none;
    color: white;
}

/* ---------- Information ---------- */

#one {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 400px;
    padding: 0 100px;
}

.heading {
    margin: 48px 0;

    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin-bottom: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.card img {
    width: 125px;
    height: 125px;

    border: 2px solid #3882F6;
    border-radius: 20px;
}

/* ---------- Quote ---------- */

#two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 400px;
    padding: 0 200px;

    background: #E5E7EB;

    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.author {
    align-self: flex-end;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

/* ---------- CTA ---------- */

#three {
  align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 600px;
    flex-basis: 150px;

    margin: 100px 0;
    padding: 0 100px;

    border-radius: 20px;

    background: #3882F6;
    color: white;
}

#three h4 {
    margin: 0;

    font-size: 24px;
    font-weight: 900;
}

#three p {
    font-size: 18px;
    font-weight: 300;
}

#three button {
    padding: 5px 20px;

    color: white;
    background: transparent;

    border: 2px solid white;
}

/* ---------- Footer ---------- */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-basis: 100px;

    color: white;
    background: #1F2937;
}